<app-table-container
  [metadata]="metadata()!"
  (onChange)="onChangeTable($event)"
>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Fecha de creación</th>
        <th>Última actualización</th>
      </tr>
    </thead>
    <tbody>
      @for (cat of categories(); track $index){
      <tr class="hover">
        <td>
          {{ cat.name }}
        </td>

        <td>
          {{ cat.createdAt | date }}
        </td>

        <td>
          {{ cat.updatedAt | date : "medium" }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</app-table-container>
