<div>
  <div class="orbe-container">
    <h4 class="text-center">Quiene somos</h4>
    <p>
      En Orbe, somos la conexión entre tu búsqueda de guía y el conocimiento de
      expertos en el mundo místico. Somos una aplicación diseñada para unir a un
      público general con una comunidad de especialistas en diversas disciplinas
      como tarot, videncia y otras ramas del conocimiento espiritual.
    </p>
  </div>

  <div class="orbe-container space-y-6 py-8">
    <h4 class="text-center">Nuestra misión</h4>
    <p>
      Nuestra misión es iluminar tu camino. Creemos que cada persona tiene una
      luz interior que a veces necesita un poco de ayuda para brillar. Por eso,
      te ofrecemos un espacio seguro y confidencial para que puedas conectar con
      expertos que te ayudarán a encontrar respuestas, tomar decisiones y
      reconectar con tu esencia. En Orbe, tu privacidad es nuestra prioridad.
      Mantenemos tus conversaciones y datos seguros en todo momento, para que te
      sientas libre de explorar y descubrir. Estamos aquí para guiarte en tu
      camino hacia el autoconocimiento y la luz interior.
    </p>
  </div>
</div>
