
<div class="card w-full overflow-x-auto py-6 px-4">
  <table class="table">
    <thead>
      <tr>
        <th>Nombre completo</th>
        <th>Email</th>
        <th>Usuario</th>
        <th>Estado</th>
        <th>Usuario desde</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (user of users; track $index) {
        <tr class="hover">
        <td class="text-nowrap">{{user.name}} {{user.lastName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>
           <span [appStatus]="user.isActive"></span>
        </td>
        <td class="text-nowrap">{{user.createdAt | date}}</td>
        <td>
          <app-button [clear]="true" icon="pencil" shape="circle" theme="secondary" />
          <app-button [clear]="true" icon="trash" shape="circle" theme="secondary" />
          <app-button [clear]="true" icon="dots-vertical" shape="circle" theme="secondary" />
        </td>
      </tr>
      }
     </tbody>
  </table>
</div>
