<div class="w-full flex justify-end mb-6">
  <app-button text="Crear usuario" icon="plus" (clickHandler)="add()" />
</div>
<app-table-container
  [metadata]="metadata()!"
  (onChange)="onChangeTable($event)"
>
  <table class="table">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Email</th>
        <th>Status</th>
        <th>Usuario desde</th>
        <th>Última conexión</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (user of users(); track $index) {
      <tr class="hover">
        <td class="text-nowrap">
          <div class="flex">
            <app-avatar [src]="user.avatar" [status]="user.connectStatus" />
            <div class="flex flex-col ms-1.5">
              <span class="font-medium"
                >{{ user.name }} {{ user.lastName }}</span
              >
              <span class="text-xs text-secondary tracking-wider">{{
                user.role
              }}</span>
            </div>
          </div>
        </td>
        <td>{{ user.email }}</td>
        <td>
          <span [appStatus]="user.isActive" class="w-full"></span>
        </td>
        <td class="text-nowrap text-center">{{ user.createdAt | date }}</td>
        <td class="text-nowrap text-center">
          {{ user.lastConnect | date : "medium" }}
        </td>
        <td>
          <app-button
            [clear]="true"
            icon="eye"
            shape="circle"
            theme="secondary"
            [routerLink]="[routeEnum.User, user._id]"
          />
          <app-button
            [clear]="true"
            icon="trash"
            shape="circle"
            theme="secondary"
            (clickHandler)="openModal(user)"
          />
          <app-button
            [clear]="true"
            icon="dots-vertical"
            shape="circle"
            theme="secondary"
          />
        </td>
      </tr>
      }
    </tbody>
  </table>
</app-table-container>

<div
  id="basic-modal"
  class="overlay modal overlay-open:opacity-100"
  tabindex="-1"
>
  <div class="modal-dialog overlay-open:opacity-100">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Cambio de estado</h3>
        <button
          type="button"
          class="btn btn-text btn-circle btn-sm absolute end-3 top-3"
          aria-label="Close"
          (click)="closeModal(false)"
        >
          <span class="icon-[tabler--x] size-4"></span>
        </button>
      </div>
      <div class="modal-body">
        Esta seguro que desea
        {{ modalUser?.isActive ? "deshabilitar" : "habilitar" }} a
        {{ modalUser?.name }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-soft btn-secondary"
          (click)="closeModal(false)"
        >
          No
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="closeModal(true)"
        >
          Si, deseo {{ modalUser?.isActive ? "deshabilitarlo" : "habilitarlo" }}
        </button>
      </div>
    </div>
  </div>
</div>

<div
  id="new-user-modal"
  class="overlay modal overlay-open:opacity-100"
  tabindex="-1"
>
  <div class="modal-dialog overlay-open:opacity-100">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Agregar nuevo usuario</h3>
        <button
          type="button"
          class="btn btn-text btn-circle btn-sm absolute end-3 top-3"
          aria-label="Close"
          (click)="closeNewUserModal(false)"
        >
          <span class="icon-[tabler--x] size-4"></span>
        </button>
      </div>
      <div class="modal-body"></div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
