@if(users()){
<div class="w-full flex justify-end mb-6">
  <button
    type="button"
    class="btn btn-primary btn-outline"
    aria-haspopup="dialog"
    aria-expanded="false"
    aria-controls="newuser-modal"
    data-overlay="#newuser-modal"
  >
    Agregar Usuario
    <span class="icon-[tabler--user-plus] size-5"></span>
  </button>
</div>
<app-table-container
  [metadata]="metadata()!"
  (onChange)="onChangeTable($event)"
>
  <table class="table">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Email</th>
        <th>Status</th>
        <th>Usuario desde</th>
        <th>Última conexión</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (user of users(); track $index) {
      <tr class="hover">
        <td class="text-nowrap">
          <div class="flex">
            <app-avatar [src]="user.avatar" [status]="user.connectStatus" />
            <div class="flex flex-col ms-1.5">
              <span class="font-medium"
                >{{ user.name }} {{ user.lastName }}</span
              >
              <span class="text-xs text-secondary tracking-wider">{{
                user.phone
              }}</span>
            </div>
          </div>
        </td>
        <td>{{ user.email }}</td>
        <td>
          <span [appStatus]="user.isActive" class="w-full"></span>
        </td>
        <td class="text-nowrap text-center">
          {{ user.createdAt | date : "MMM d, y" }}
        </td>
        <td class="text-nowrap text-center">
          {{ user.lastConnect | date : "MMM d, y, h:mm a" }}
        </td>
        <td class="space-x-3">
          <button
            class="btn btn-square btn-primary btn-outline btn-sm"
            aria-label="Icon Button EYE"
            [routerLink]="[routeEnum.User, user._id]"
          >
            <span class="icon-[tabler--eye]"></span>
          </button>

          <button
            class="btn btn-square btn-error btn-outline btn-sm"
            aria-label="Icon Button Trash"
            aria-haspopup="dialog"
            aria-expanded="false"
            aria-controls="delete-modal"
            data-overlay="#delete-modal"
            (click)="openModal(user)"
          >
            <span class="icon-[tabler--trash]"></span>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</app-table-container>

}
<!-- NEW USER MODAL -->
<div
  id="newuser-modal"
  class="overlay modal overlay-open:opacity-100 hidden modal-middle"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog overlay-open:opacity-100 modal-dialog-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Agregar nuevo usuario</h3>
        <button
          type="button"
          class="btn btn-text btn-circle btn-sm absolute end-3 top-3"
          aria-label="Close"
          data-overlay="#newuser-modal"
          (click)="resetForm()"
        >
          <span class="icon-[tabler--x] size-4"></span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div
            class="grid md:grid-cols-2 grid-cols-1 md:gap-x-4 md:gap-y-2 gap-2"
          >
            <app-input
              [isSubmitted]="isSubmited()"
              [control]="f['name']"
              formControlName="name"
              label="Nombre"
              type="text"
            />
            <app-input
              [isSubmitted]="isSubmited()"
              [control]="f['lastName']"
              formControlName="lastName"
              label="Apellido"
              type="text"
            />
          </div>
          <div>
            <app-input
              [isSubmitted]="isSubmited()"
              [control]="f['email']"
              formControlName="email"
              label="Correo electrónico"
              type="email"
            />
          </div>
          <div
            class="grid md:grid-cols-2 grid-cols-1 md:gap-x-4 md:gap-y-2 gap-2"
          >
            <div class="flex flex-col justify-between">
              <label class="label label-text">Seleccione el idioma</label>
              <div class="flex gap-6">
                <app-input type="checkbox" placeholder="Ingles" />
                <app-input type="checkbox" placeholder="Español" />
              </div>
            </div>

            <app-input
              [isSubmitted]="isSubmited()"
              [control]="f['phone']"
              formControlName="phone"
              label="Teléfono"
              type="text"
            />
            <app-input
              [isSubmitted]="isSubmited()"
              [control]="f['country']"
              formControlName="country"
              label="País"
              type="text"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-soft btn-error"
          data-overlay="#newuser-modal"
          (click)="resetForm()"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Delete User Modal -->
<div
  id="delete-modal"
  class="overlay modal overlay-open:opacity-100 hidden modal-middle"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog overlay-open:opacity-100">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Cambio de estado</h3>
        <button
          type="button"
          class="btn btn-text btn-circle btn-sm absolute end-3 top-3"
          aria-label="Close"
          data-overlay="#delete-modal"
        >
          <span class="icon-[tabler--x] size-4"></span>
        </button>
      </div>
      <div class="modal-body">
        Esta seguro que desea
        {{ modalUser?.isActive ? "deshabilitar" : "habilitar" }} a
        {{ modalUser?.name }}
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-soft btn-outline btn-primary"
          data-overlay="#delete-modal"
        >
          No
        </button>
        <button
          type="button"
          class="btn btn-error btn-soft"
          data-overlay="#delete-modal"
          (click)="delete()"
        >
          Si, deseo {{ modalUser?.isActive ? "deshabilitarlo" : "habilitarlo" }}
        </button>
      </div>
    </div>
  </div>
</div>
