<div
  class="flex justify-between items-center font-medium w-full border-t border-secondary-content mt-6 pt-4 text-sm px-6"
>
  <span>Mostrando 1 de 3 usuarios</span>
  <nav class="flex items-center gap-x-1">
    <button type="button" class="btn btn-text btn-sm">Previous</button>
    <div class="flex items-center gap-x-1">
      <button
        type="button"
        class="btn btn-text btn-sm btn-square aria-[current='page']:text-bg-primary"
      >
        1
      </button>
      <button
        type="button"
        class="btn btn-text btn-sm btn-square aria-[current='page']:text-bg-primary"
        aria-current="page"
      >
        2
      </button>
      <button
        type="button"
        class="btn btn-text btn-sm btn-square aria-[current='page']:text-bg-primary"
      >
        3
      </button>
    </div>
    <button type="button" class="btn btn-text btn-sm">Next</button>
  </nav>
</div>
