<app-table-container [metadata]="metadata()!" (onChange)="onChangeTable($event)">
	<div filter class="flex flex-1 flex-col md:flex-row justify-around items-center md:gap-0 gap-y-2 ">
		
		<app-select [placeholder]="'Filtrar por mes'" [class]="'min-w-40'" [data]="months" [label]="'Mes'"
			[defaultValue]="selectedMonth" [isInline]="true" (changeHandler)="onChangeMonth($event)" />

		<app-select [placeholder]="'Filtrar por país'" [class]="'min-w-40'" [data]="years" [label]="'Año'"
			[defaultValue]="selectedYear" [isInline]="true" (changeHandler)="onChangeYear($event)" />
		<button class="btn btn-primary" (click)="find()">Buscar</button>

		<button class="btn btn-square btn-info btn-outline" aria-label="Icon Button" (click)="download()">
			<span class="icon-[tabler--file-download]  size-5"></span>
		</button>


	</div>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th>Nombre</th>
				<th>Email</th>
				<th>Banco</th>
				<th>Tipo Cuenta</th>
				<th>Cuenta</th>
				<th>País</th>
				<th>Balance</th>
				<th>Fecha</th>
			</tr>
		</thead>
		<tbody>
			@for (advisor of data; track $index) {
			<tr>
				<td>
					<app-avatar [src]="advisor.avatar" />
				</td>
				<td>{{advisor.fullName}}</td>
				<td>{{advisor.email}}</td>
				<td>{{advisor.bankName}}</td>
				<td>{{advisor.bankAccountType}}</td>
				<td>{{advisor.bankAccountNumber}}</td>
				<td>{{advisor.bankCountry}}</td>
				<td>{{advisor.balance | currency}}</td>
				<td>{{advisor.createdAt | date}}</td>
			</tr>
			}
		</tbody>
	</table>
</app-table-container>