@switch (type()) { @case ('checkbox') {
<ng-container *ngTemplateOutlet="checkboxInput"></ng-container>
} @case ('password') {
<ng-container *ngTemplateOutlet="passwordInput"></ng-container>
} @case ('money') {
<ng-container *ngTemplateOutlet="money"></ng-container>
} @default {
<ng-container *ngTemplateOutlet="otherwise"></ng-container>
} }

<ng-template #checkboxInput>
  <div class="flex items-center gap-1 mb-2">
    <input
      type="checkbox"
      class="checkbox"
      [id]="inputLabel"
      [(ngModel)]="value"
      [class.is-invalid]="
        (control().invalid && control().dirty) ||
        (control().invalid && isSubmitted())
      "
      [class.is-valid]="control().valid && control().dirty"
      (ngModelChange)="onValueChange($event)"
    />
    <label class="label label-text text-sm" for="{{ inputLabel }}">{{
      placeholder()
    }}</label>
  </div>
</ng-template>

<ng-template #passwordInput>
  <div class="w-full">
    <label class="label label-text" for="toggle-password-label">
      {{ label() }}
    </label>
    <div class="input-group w-full">
      <input
        id="toggle-password-label"
        type="password"
        [placeholder]="placeholder()"
        [(ngModel)]="value"
        (ngModelChange)="onValueChange($event)"
        class="input"
        [class.is-invalid]="
          (control().invalid && control().dirty) ||
          (control().invalid && isSubmitted())
        "
        [class.is-valid]="control().valid && control().dirty"
      />
      <span class="input-group-text">
        <button
          type="button"
          data-toggle-password='{ "target": "#toggle-password-label" }'
          class="block"
          aria-label="password toggle"
        >
          <span
            class="icon-[tabler--eye] text-base-content/80 password-active:block hidden size-5 flex-shrink-0"
          ></span>
          <span
            class="icon-[tabler--eye-off] text-base-content/80 password-active:hidden block size-5 flex-shrink-0"
          ></span>
        </button>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #money>
  <div class="full">
    <label [id]="inputLabel" class="label label-text" for="labelAndHelperText">
      {{ label() }}
    </label>
    <div class="input-group max-w-sm">
      <span class="input-group-text">$</span>
      <input
        mask="separator.2"
        [outputTransformFn]="toFixed"
        type="text"
        class="input grow"
        placeholder="00.00"
        id="trailingAndLeadingInput"
        [(ngModel)]="value"
        disabled="{{ disabled() }}"
        [readonly]="readonly()"
        (ngModelChange)="onValueChange($event)"
        [class.is-invalid]="
          (control().invalid && control().dirty) ||
          (control().invalid && isSubmitted())
        "
        [class.is-valid]="control().valid && control().dirty"
      />
      <label class="sr-only" for="trailingAndLeadingInput">Enter amount</label>
      <span class="input-group-text">USD</span>
    </div>
    <span class="label">
      @if (helperText()) {
      <span class="label-text-alt">{{ helperText() }}</span>
      } @if ( (control().invalid && control().dirty) || (control().invalid &&
      isSubmitted()) ) {
      <span class="label-text-alt">{{ errorMessage() }}</span>
      }
    </span>
  </div>
</ng-template>

<ng-template #otherwise>
  <div class="w-full">
    <label
      [id]="inputLabel"
      class="label label-text"
      [for]="inputLabel + '-' + inputLabel"
    >
      {{ label() }}
    </label>
    <input
      mask=""
      class="input"
      disabled="{{ disabled() }}"
      [readonly]="readonly()"
      [id]="inputLabel + '-' + inputLabel"
      type="{{ type() }}"
      [placeholder]="placeholder()"
      [(ngModel)]="value"
      (ngModelChange)="onValueChange($event)"
      [class.is-invalid]="
        (control().invalid && control().dirty) ||
        (control().invalid && isSubmitted())
      "
      [class.is-valid]="control().valid && control().dirty"
    />
    <span class="label">
      @if (helperText()) {
      <span class="label-text-alt">{{ helperText() }}</span>
      } @if ( (control().invalid && control().dirty) || (control().invalid &&
      isSubmitted()) ) {
      <span class="label-text-alt">{{ errorMessage() }}</span>
      }
    </span>
  </div>
</ng-template>
