<nav
  class="tabs tabs-bordered"
  aria-label="Tabs"
  role="tablist"
  aria-orientation="horizontal"
>
  <button
    type="button"
    class="tab active-tab:tab-active active"
    id="tabs-basic-item-1"
    data-tab="#tabs-basic-1"
    aria-controls="tabs-basic-1"
    role="tab"
    aria-selected="true"
  >
    Políticas de uso de los usuarios
  </button>
  <button
    type="button"
    class="tab active-tab:tab-active"
    id="tabs-basic-item-2"
    data-tab="#tabs-basic-2"
    aria-controls="tabs-basic-2"
    role="tab"
    aria-selected="false"
  >
    Políticas Internas para Expertos
  </button>
  <button
    type="button"
    class="tab active-tab:tab-active"
    id="tabs-basic-item-3"
    data-tab="#tabs-basic-3"
    aria-controls="tabs-basic-3"
    role="tab"
    aria-selected="false"
  >
    Políticas de privacidad
  </button>
  
</nav>

<div class="mt-3">
  <div id="tabs-basic-1" role="tabpanel" aria-labelledby="tabs-basic-item-1">
    <form [formGroup]="userPoliciesForm">
      <editor [init]="init" licenseKey="gpl" formControlName="content" />
      <button
        class="btn btn-primary mt-4"
        type="submit"
        (click)="onSubmit('userPolicies')"
      >
        Guardar
      </button>
    </form>
  </div>
  <div
    id="tabs-basic-2"
    class="hidden"
    role="tabpanel"
    aria-labelledby="tabs-basic-item-2"
  >
    <form [formGroup]="advisorPoliciesForm">
      <editor [init]="init" licenseKey="gpl" formControlName="content" />
      <button
        class="btn btn-primary mt-4"
        type="submit"
        (click)="onSubmit('advisorPolicies')"
      >
        Guardar
      </button>
    </form>
  </div>
  <div
    id="tabs-basic-3"
    class="hidden"
    role="tabpanel"
    aria-labelledby="tabs-basic-item-3"
  >
    <form [formGroup]="privacyPoliciesForm">
      <editor [init]="init" licenseKey="gpl" formControlName="content" />
      <button
        class="btn btn-primary mt-4"
        type="submit"
        (click)="onSubmit('privacyPolicies')"
      >
        Guardar
      </button>
    </form>
  </div>
</div>
