<nav
  class="navbar rounded-box flex w-full items-center justify-between gap-2 h-20 border-b"
>
  <div class="navbar-start max-md:w-1/4">
    <a
      class="link text-base-content link-neutral text-xl font-semibold no-underline"
      routerLink=""
    >
      <img
        src="logotipo-transparent.png"
        alt="logo"
        srcset=""
        class="w-full md:w-1/4"
      />
    </a>
  </div>
  <div class="navbar-center max-md:hidden">
    <ul class="menu menu-horizontal p-0 font-medium">
      <li>
        <a
          routerLink=""
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          href="#"
          routerLink="faq"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Preguntas frecuentes</a
        >
      </li>
      <li>
        <a routerLink="about-us" routerLinkActive="router-link-active"
          >Quienes somos?</a
        >
      </li>
    </ul>
  </div>
  <div class="navbar-end items-center gap-4">
    <div
      class="dropdown relative inline-flex md:hidden rtl:[--placement:bottom-end]"
    >
      <button
        id="dropdown-default"
        type="button"
        class="dropdown-toggle btn btn-text btn-secondary btn-square"
        aria-haspopup="menu"
        aria-expanded="false"
        aria-label="Dropdown"
      >
        <span class="icon-[tabler--menu-2] dropdown-open:hidden size-5"></span>
        <span class="icon-[tabler--x] dropdown-open:block hidden size-5"></span>
      </button>
      <ul
        class="dropdown-menu dropdown-open:opacity-100 idden min-w-60"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="dropdown-default"
      >
        <li>
          <a
            routerLink=""
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li>
          <a
            href="#"
            routerLink="chats"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Preguntas frecuentes</a
          >
        </li>
        <li>
          <a routerLink="about-us" routerLinkActive="router-link-active"
            >Quienes somos?</a
          >
        </li>
      </ul>
    </div>
    @if (isHomePage()) {
      <button class="btn btn-primary" (click)="goTo()">
        Panel
        <span class="icon-[tabler--user-circle] size-5"></span>
      </button>
    }
  </div>
</nav>
