<app-table-container
  [metadata]="metadata()!"
  (onChange)="onChangeTable($event)"
>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Cliente</th>
        <th>Asesor</th>
        <th>Mensajes</th>
        <th>Fecha Creación</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (room of rooms; track $index) {
      <tr class="hover">
        <td>{{ room._id }}</td>
        <td>
          <ng-container
            [ngTemplateOutlet]="user"
            [ngTemplateOutletContext]="{ user: room.members[0] }"
          ></ng-container>
        </td>
        <td>
          <ng-container
            [ngTemplateOutlet]="user"
            [ngTemplateOutletContext]="{ user: room.members[1] }"
          ></ng-container>
        </td>
        <td>{{ room.messages.length }}</td>
        <td class="text-nowrap">{{ room.createdAt | date }}</td>
        <td>
          <div class="tooltip">
            <app-button
              [clear]="true"
              icon="eye"
              shape="circle"
              theme="secondary"
              (clickHandler)="openModal(room._id)"
            />
            <span
              class="tooltip-content tooltip-shown:opacity-100 tooltip-shown:visible"
              role="tooltip"
            >
              <span class="tooltip-body tooltip-secondary text-xs"
                >Ver conversaciones</span
              >
            </span>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</app-table-container>

<ng-template #user let-user="user">
  <span class="badge badge-outline badge-primary badge-lg">
    <img
      [src]="user.avatar"
      alt="{{ user.name }}"
      class="size-4.5 rounded-full"
    />
    {{ user.name }} {{ user.lastName }}
  </span>
</ng-template>

<div
  id="scroll-inside-modal"
  class="overlay modal overlay-open:opacity-100 --prevent-on-load-init [--overlay-backdrop:static]"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog overlay-open:opacity-100 modal-dialog-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">
          Room: {{ selectedRoom?._id }}
          <span class="text-sm block">
            Cuarto creado el: {{ selectedRoom?.createdAt | date }}
          </span>
        </h3>
        <button
          type="button"
          class="btn btn-text btn-circle btn-sm absolute end-3 top-3"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span class="icon-[tabler--x] size-4"></span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          @for (m of selectedRoom?.messages; track $index) {
          <app-chat-burble [message]="m" />
          }
        </ul>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-soft btn-secondary"
          (click)="closeModal()"
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
