<h1 class="text-3xl font-bold underline">Hello world!</h1>

<div class="flex flex-col gap-4 w-full justify-center items-center">
  <app-badge text="My badge" shape="circular" icon="moon" />
  <app-badge text="My badge" shape="square" icon="moon" />
  <app-badge
    text="My badge"
    size="sm"
    avatar="https://cdn.flyonui.com/fy-assets/avatar/avatar-2.png"
    theme="primary"
  />
  <app-badge
    text="Jhon"
    avatar="https://cdn.flyonui.com/fy-assets/avatar/avatar-2.png"
    theme="primary"
    size="lg"
  />

  <app-button theme="primary" text="Primaty" width="wide" />
</div>

<router-outlet></router-outlet>
