<div class="footer">
  <div class="orbe-container">
    <div class="grid grid-cols-1 md:grid-cols-5">
      <div class="flex flex-col space-y-6">
        <img src="isotipo-transparen.png" alt="" class="w-20" />
        <div class="space-x-1">
          <a
            rel="noopener"
            title="tiktok"
            target="_blank"
            href="https://www.instagram.com/orbe_videntes?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
          >
            <span
              class="icon-[tabler--brand-instagram] text-white size-5"
            ></span>
          </a>
          <a
            rel="noopener"
            title="instagram"
            target="_blank"
            href="https://www.tiktok.com/search?q=orbe_oficial1"
          >
            <span class="icon-[tabler--brand-tiktok] text-white size-5"></span>
          </a>
        </div>
      </div>
      <div>
        <p class="footer_title">Sobre Orbe</p>
        <ul>
          <li>Servicios</li>
          <li>
            <a routerLink="about-us">¿Quienes somos?</a>
          </li>
          <li>Preguntas frecuentes</li>
        </ul>
      </div>
      <div>
        <p class="footer_title">Políticas y Privacidad</p>
        <ul>
          <li>
            <a routerLink="advisor-policy">
              Políticas internas para expertos
            </a>
          </li>
          <li>
            <a routerLink="user-policies">
              Políticas de usuarios
            </a>
          </li>
          <li>
            <a routerLink="privacy-policies">
              Políticas de privacidad
            </a>
          </li>
        </ul>
      </div>
      <div>
        <p class="footer_title">Contactanos</p>
        <ul>
          <li>Llámanos</li>
          <li>Escríbenos</li>
        </ul>
      </div>
      <div>
        <div>
          <p class="footer_title">Descarga nuesta app</p>
          <div class="flex gap-2">
            <img
              src="google/google-play-badge-black.png"
              alt="Google Play"
              class="w-32"
            />
            <img
              src="apple/app-store-badge-black.png"
              alt="App Store"
              class="w-32"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="w-full flex justify-center mt-8 text-xs text-white">
      <p>&copy; {{ year }}, Desarrollado por Kervin González</p>
    </div>
  </div>
</div>
