<div class="w-full flex justify-end mb-6 gap-6">
  <button
    type="button"
    class="btn btn-primary btn-outline"
    aria-haspopup="dialog"
    aria-expanded="false"
    (click)="openModal()"
  >
    Agregar cuenta
    <span class="icon-[tabler--cash-banknote] size-5"></span>
  </button>
  <button type="button" class="btn btn-primary btn-outline">
    Cargar SCV
    <span class="icon-[tabler--file-type-txt] size-5"></span>
  </button>
</div>

<app-table-container
  [metadata]="metadata()!"
  (onChange)="onChangeTable($event)"
>
  <table class="table">
    <thead>
      <tr>
        <th>País</th>
        <th>Banco</th>
        <th>Tipo de cuenta</th>
        <th># de cuenta</th>
        <th>Asesor</th>
      </tr>
    </thead>
    @if (accounts.length > 0) {
    <tbody>
      @for (account of accounts; track $index) {
      <tr class="hover">
        <td>
          {{ account.bank.country }}
        </td>
        <td>
          {{ account.bank.name }}
        </td>
        <td>
          {{ account.type }}
        </td>
        <td>{{ account.number }}</td>
        <td>
          <span class="badge badge-outline badge-primary badge-lg">
            <img
              [src]="account.user.avatar"
              alt="Anna"
              class="size-4.5 rounded-full"
            />
            {{ account.user.name }} {{ account.user.lastName }}
          </span>
        </td>
      </tr>
      }
    </tbody>
    }
  </table>
</app-table-container>

<div
  id="account-modal"
  class="overlay modal overlay-open:opacity-100 hidden modal-middle"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog overlay-open:opacity-100 modal-dialog-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar cuenta bancaria</h5>
        <button
          type="button"
          class="btn btn-text btn-circle btn-sm absolute end-3 top-3"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span class="icon-[tabler--x] size-4"></span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="w-full space-y-3 overflow-y-auto pb-3">
            <div>
              <label class="label label-text" for="">Seleccione banco</label>
              <select
                (change)="onBankSelect($event.target)"
                title="select"
                data-select='{
                  "placeholder": "Seleccione su banco",
                  "toggleTag": "<button type=\"button\" aria-expanded=\"false\"></button>",
                  "toggleClasses": "advance-select-toggle",
                  "hasSearch": true,
                  "dropdownScope": "window",
                  "dropdownClasses": "advance-select-menu max-h-52 pt-0 border border-gray-300 vertical-scrollbar rounded-scrollbar z-[80] w-full",
                  "optionClasses": "advance-select-option selected:active",
                  "optionTemplate": "<div class=\"flex justify-between items-center w-full\"><span data-title></span><span class=\"icon-[tabler--check] flex-shrink-0 size-4 text-primary hidden selected:block \"></span></div>",
                  "extraMarkup": "<span class=\"icon-[tabler--caret-up-down] flex-shrink-0 size-4 text-base-content absolute top-1/2 end-3 -translate-y-1/2 \"></span>"
                }'
                class="hidden"
              >
                <option value="">Seleccione</option>
                @for (bank of banks; track $index) {
                <option [value]="bank._id">{{ bank.name }}</option>
                }
              </select>
            </div>
          </div>
          <app-select
            [isSubmitted]="isSubmited()"
            [control]="f['type']"
            [data]="accountType"
            label="Tipo de cuenta"
            formControlName="type"
          />
          <app-input
            [isSubmitted]="isSubmited()"
            [control]="f['number']"
            formControlName="number"
            label="Número de cuenta"
            type="text"
          />
          <app-select
            [isSubmitted]="isSubmited()"
            [control]="f['user']"
            [data]="advisors"
            label="Asesor"
            formControlName="user"
          />
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-soft btn-error"
          (click)="closeModal()"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
