<main>
  <div class="login-container border">
    <p class="text-3xl mb-2">Acceso al panel</p>
    <p class="text-sm text-gray-500 text-center">
      Ingresa tus credenciales para acceder al panel de administración.
    </p>
    <div class="w-full flex flex-col justify-center">
      <form [formGroup]="form">
        <div
          class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7"
        >
          <app-input
            [control]="f['email']"
            formControlName="email"
            label="Correo electrónico"
            type="email"
          />
          <app-input
            [control]="f['password']"
            formControlName="password"
            label="Contraseña"
            type="password"
          />
        </div>
      </form>
    </div>
    <div class="w-full">
      <app-button
        (clickHandler)="onSubmit()"
        text="Ingresar"
        width="block"
        theme="primary"
      />
    </div>
  </div>
</main>
