<aside
  id="logo-sidebar"
  class="overlay lg:shadow-none overlay-open:translate-x-0 drawer drawer-start hidden max-w-64 lg:relative lg:z-0 lg:flex lg:translate-x-0 h-screen max-h-screen"
  role="dialog"
  tabindex="-1"
>
  <div class="drawer-header p-4">
    <div class="flex items-center justify-center gap-3">
      <img src="imagotipo-transparent.png" alt="logo" srcset="" class="w-1/2" />
    </div>
  </div>
  <div class="drawer-body px-2 flex flex-col justify-between">
    <ul
      class="menu w-64 space-y-0.5 [&_.nested-collapse-wrapper]:space-y-0.5 [&_ul]:space-y-0.5"
    >
      <li>
        <a
          class="font-light hover:bg-transparent px-0 text-slate-100"
          [routerLink]="'.'"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="icon-[tabler--layout-dashboard] size-6"></span>
          Dashboard
        </a>
      </li>
      <li>
        <a
          id="usuarios"
          data-collapse="#usuarios-collapse"
          class="font-light hover:bg-transparent px-0 text-slate-100 collapse-toggle collapse-open:text-slate-100 collapse-open:bg-base-content/10 open"
        >
          <span class="icon-[tabler--users-group] size-6"></span>
          Usuarios
          <span
            class="icon-[tabler--chevron-down] collapse-open:rotate-180 size-4 transition-all duration-300"
          ></span>
        </a>
        <ul
          id="usuarios-collapse"
          class="open collapse w-auto overflow-hidden transition-[height] duration-300"
          aria-labelledby="usuarios"
        >
          <li>
            <a
              class="font-light hover:bg-transparent px-0 text-slate-100"
              routerLink="users"
              routerLinkActive="router-link-active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span class="icon-[tabler--users] size-6"></span>
              Usuarios
            </a>
            <a
              class="font-light hover:bg-transparent px-0 text-slate-100"
              routerLink="advisors"
              routerLinkActive="router-link-active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-user-star"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h.5" />
                <path
                  d="M17.8 20.817l-2.172 1.138a.392 .392 0 0 1 -.568 -.41l.415 -2.411l-1.757 -1.707a.389 .389 0 0 1 .217 -.665l2.428 -.352l1.086 -2.193a.392 .392 0 0 1 .702 0l1.086 2.193l2.428 .352a.39 .39 0 0 1 .217 .665l-1.757 1.707l.414 2.41a.39 .39 0 0 1 -.567 .411l-2.172 -1.138z"
                />
              </svg>
              Asesores
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a
          class="font-light hover:bg-transparent px-0 text-slate-100"
          routerLink="chats"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="icon-[tabler--brand-wechat] size-6"></span>
          Chats
        </a>
      </li>
      <li>
        <a
          class="font-light hover:bg-transparent px-0 text-slate-100"
          routerLink="categories"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="icon-[tabler--category] size-6"></span>
          Categorías
        </a>
      </li>
      <li>
        <a
          class="font-light hover:bg-transparent px-0 text-slate-100"
          routerLink="request-logs"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="icon-[tabler--logs] size-6"></span>
          Histórico de solicitudes
        </a>
      </li>
      <li>
        <a
          class="font-light hover:bg-transparent px-0 text-slate-100"
          routerLink="payments"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="icon-[tabler--report-money] size-6"></span>
          Pagos
        </a>
      </li>
      <li>
        <a
          id="banks"
          data-collapse="#banks-collapse"
          class="font-light hover:bg-transparent px-0 text-slate-100 collapse-toggle collapse-open:text-slate-100 collapse-open:bg-base-content/10 open"
        >
          <span class="icon-[tabler--users-group] size-6"></span>
          Bancos y Cuentas
          <span
            class="icon-[tabler--chevron-down] collapse-open:rotate-180 size-4 transition-all duration-300"
          ></span>
        </a>
        <ul
          id="banks-collapse"
          class="open collapse w-auto overflow-hidden transition-[height] duration-300"
          aria-labelledby="banks"
        >
          <li>
            <a
              class="font-light hover:bg-transparent px-0 text-slate-100"
              routerLink="banks"
              routerLinkActive="router-link-active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <span class="icon-[tabler--building-bank] size-6"></span>
              Bancos
            </a>
            <a
              class="font-light hover:bg-transparent px-0 text-slate-100"
              routerLink="bank-accounts"
              routerLinkActive="router-link-active"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-user-star"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h.5" />
                <path
                  d="M17.8 20.817l-2.172 1.138a.392 .392 0 0 1 -.568 -.41l.415 -2.411l-1.757 -1.707a.389 .389 0 0 1 .217 -.665l2.428 -.352l1.086 -2.193a.392 .392 0 0 1 .702 0l1.086 2.193l2.428 .352a.39 .39 0 0 1 .217 .665l-1.757 1.707l.414 2.41a.39 .39 0 0 1 -.567 .411l-2.172 -1.138z"
                />
              </svg>
              Cuentas bancarias
            </a>
          </li>
        </ul>
      </li>
       <li>
        <a
          class="font-light hover:bg-transparent px-0 text-slate-100"
          routerLink="planes"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="icon-[tabler--gavel] size-6"></span>
          Planes
        </a>
      </li>
       <li>
        <a
          class="font-light hover:bg-transparent px-0 text-slate-100"
          routerLink="legal"
          routerLinkActive="router-link-active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <span class="icon-[tabler--gavel] size-6"></span>
          Legal
        </a>
      </li>
    </ul>
    <button type="button" class="btn btn-error" (click)="openModal()">
      <span class="text-white">Cerrar sesión</span>
      <span class="icon-[tabler--logout] size-5 text-white"></span>
    </button>
  </div>
</aside>

<div
  id="logout-modal"
  class="overlay modal overlay-open:opacity-100 hidden modal-middle"
  role="dialog"
  tabindex="-1"
>
  <div class="modal-dialog overlay-open:opacity-100 modal-dialog-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Cierre de sesión</h3>
        <button
          type="button"
          class="btn btn-text btn-circle btn-sm absolute end-3 top-3"
          aria-label="Close"
          (click)="modal.close()"
        >
          <span class="icon-[tabler--x] size-4"></span>
        </button>
      </div>
      <div class="modal-body">
        <p>¿Estás seguro de que deseas cerrar sesión?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-soft btn-outline btn-primary"
          (click)="modal.close()"
        >
          No
        </button>
        <button type="button" class="btn btn-error btn-soft" (click)="logOut()">
          Si, cerrar sesión
        </button>
      </div>
    </div>
  </div>
</div>
