/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/styles/typography.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

html, body{
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: black;
  background-color: #f8f9fa;
}

.table :where(th, td) {
  @apply text-sm;
}

.card-bordered {
  @apply bg-white rounded-lg border-[1.5px] border-slate-300 p-4;
}

.card {
  @apply shadow-md;
  .card-body {
    @apply p-4;
  }
}

.title{
  @apply border-b pb-1 text-primary;
}

.stats{
  @apply md:inline-grid inline;
  .stat{
    @apply px-3 py-2 gap-0 md:px-6 md:py-4 md:gap-2;
  }
}

.bg-base-shadow\/70{
  @apply bg-black/70;
}

.orbe-container {
  @apply max-w-6xl mx-auto;
}
