<div class="wrapper">
  <div class="sidebar">
    <div class="drawer-body px-0.5 md:pt-4 pt-10">
      <div class="border-b pb-4 mb-2.5">
        <h4>Wicca</h4>
      </div>
      <ul class="menu gap-y-3">
        @for (m of menu; track $index) {
        <li>
          <a
            class="font-thin hover:bg-transparent px-0"
            [routerLink]="[m.path]"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="icon-[tabler--{{ m.icon }}] size-5"></span>
            {{ m.title }}
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <router-outlet></router-outlet>
  </div>
</div>
