<div class="wrapper">
  <div class="sidebar">
    <div class="drawer-body px-0.5 md:pt-1.5 pt-10">
      <div class="border-b pb-4 mb-2.5">
        <h4>Wicca</h4>
      </div>
      <ul class="menu gap-y-3">
        @for (m of menu; track $index) {
        <li>
          <a
            class="font-light hover:bg-transparent px-0"
            [routerLink]="[m.path]"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="icon-[tabler--{{ m.icon }}] size-6"></span>
            {{ m.title }}
          </a>
        </li>
        }
      </ul>
    </div>
    <app-button
      text="Cerrar sesion"
      theme="error"
      [outline]="true"
      width="block"
      (clickHandler)="signout()"
    />
  </div>
  <div class="main-panel">
    <app-dashbar />
    <div class="py-4 grow">
      <router-outlet></router-outlet>
    </div>
    <app-footer />
  </div>
</div>

<!-- <span class="icon-[tabler--brand-wechat] size-5"></span> -->
<!-- <span class="icon-[tabler--users] size-5"></span> -->
<!-- <span class="icon-[tabler--report-money] size-5"></span> -->
<!-- <span class="icon-[tabler--layout-dashboard] size-5"></span> -->
