<!-- <span class="icon-[tabler--brand-wechat] size-5"></span>
<span class="icon-[tabler--users] size-5"></span>
<span class="icon-[tabler--report-money] size-5"></span>
<span class="icon-[tabler--category] size-5"></span> -->

<button
  title="Menu"
  type="button"
  class="btn btn-text max-sm:btn-square lg:hidden"
  aria-haspopup="dialog"
  aria-expanded="false"
  aria-controls="logo-sidebar"
  data-overlay="#logo-sidebar"
>
  <span class="icon-[tabler--menu-2] size-5"></span>
</button>

<div class="wrapper">
  <aside
    id="logo-sidebar"
    class="overlay lg:shadow-none overlay-open:translate-x-0 drawer drawer-start hidden max-w-64 lg:relative lg:z-0 lg:flex lg:translate-x-0 h-screen max-h-screen"
    role="dialog"
    tabindex="-1"
  >
    <div class="drawer-header">
      <div class="flex items-center gap-3">
        <img
          src="logotipo-transparent.png"
          alt="logo"
          srcset=""
          class="w-1/2"
        />
      </div>
    </div>
    <div class="drawer-body px-2 flex flex-col justify-between">
      <ul class="menu gap-y-3">
        @for (m of menu; track $index) {
        <li>
          <a
            class="font-light hover:bg-transparent px-0 text-slate-100"
            [routerLink]="[m.path]"
            routerLinkActive="router-link-active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <span class="icon-[tabler--{{ m.icon }}] size-6"></span>
            {{ m.title }}
          </a>
        </li>
        }
      </ul>
      <app-button
        text="Cerrar sesion"
        theme="error"
        [outline]="true"
        width="block"
        (clickHandler)="signout()"
      />
    </div>
  </aside>
  <div class="main-panel">
    <app-dashbar />
    <div class="py-4 grow">
      <router-outlet></router-outlet>
    </div>
    <app-footer />
  </div>
</div>
