<main class="md:space-y-8 space-y-4">
  <ng-container [ngTemplateOutlet]="section1"></ng-container>
  <ng-container [ngTemplateOutlet]="section2"></ng-container>
  <ng-container [ngTemplateOutlet]="section4"></ng-container>
  <ng-container [ngTemplateOutlet]="section3"></ng-container>
  <ng-container [ngTemplateOutlet]="section5"></ng-container>
</main>

<ng-template #section1>
  <div class="grid xl:grid-cols-4 grid-cols-2 lg:gap-4 gap-2">
    <div class="stats">
      <div class="stat">
        <div class="stat-figure">
          <div class="avatar">
            <div class="size-12 rounded-full">
              <app-icon icon="users-group" size="10" class="text-primary/80" />
            </div>
          </div>
        </div>
        <div class="stat-title">Total registros</div>
        <div class="stat-value text-primary/80">
          {{ summaryUser?.totalRegisteredUsers! - 1 }}
        </div>
        <!-- <div class="stat-desc">21% ↗︎ than last month</div> -->
      </div>
    </div>
    <div class="stats">
      <div class="stat">
        <div class="stat-figure">
          <div class="avatar">
            <div class="size-12 rounded-full">
              <app-icon icon="users-group" size="10" class="text-warning/80" />
            </div>
          </div>
        </div>
        <div class="stat-title">Total clientes</div>
        <div class="stat-value text-warning/80">
          {{ summaryUser?.roleSummary?.User || 0 }}
        </div>
        <!-- <div class="stat-desc">21% ↗︎ than last month</div> -->
      </div>
    </div>
    <div class="stats">
      <div class="stat">
        <div class="stat-figure">
          <div class="avatar">
            <div class="size-12 rounded-full">
              <app-icon icon="users-group" size="10" class="text-info/80" />
            </div>
          </div>
        </div>
        <div class="stat-title">Total asesores</div>
        <div class="stat-value text-info/80">
          {{ summaryUser?.roleSummary?.Advisor || 0 }}
        </div>
        <!-- <div class="stat-desc">21% ↗︎ than last month</div> -->
      </div>
    </div>
    <div class="stats">
      <div class="stat">
        <div class="stat-figure">
          <div class="avatar">
            <div class="size-12 rounded-full">
              <app-icon icon="users-group" size="10" class="text-info/80" />
            </div>
          </div>
        </div>
        <div class="stat-title">Nuevos usuario</div>
        <div class="stat-value text-info/80">
          {{ summaryUser?.currentMonthRegisteredUsers }}
        </div>
        <div class="stat-desc">Este mes</div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #section2>
  <div class="grid md:grid-cols-2 grid-cols-1 gap-2 bg-gray-50 p-2">
    <div class="card-body">
      <h6 class="title">Solicitudes de servicios {{ currentYear }}</h6>
      <app-circular-chart [series]="series" [labels]="labels" />
    </div>
    <div class="grid xl:grid-cols-2 grid-cols-1 gap-2">
      <ng-container [ngTemplateOutlet]="nominated"></ng-container>
      <ng-container [ngTemplateOutlet]="newRegistrations"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #section3>
  <div class="xl:flex xl:gap-x-4 gap-x-2 grid grid-cols-1 gap-y-2">
    <div class="card xl:w-full border bordered">
      <div class="card-body">
        <h6 class="title">Resumen de solicitudes {{ currentYear }}</h6>
        <app-column-chart [series]="summaryMonthly" title="solicitudes" />
      </div>
    </div>
  </div>
</ng-template>

<ng-template #section4>
  <div>
    <h6>Top 10 asesores</h6>
    <div class="flex overflow-x-auto gap-2 relative p-2 bg-gray-50 rounded-md">
      @for (item of topRatedAdvisors; track $index) {
      <div class="card sm:card-side w-72 min-h-16 ps-2 border bordered">
        <app-avatar [src]="item.avatar" size="lg" class="m-auto" />
        <div class="card-body justify-between flex flex-row">
          <div class="flex flex-col">
            <span class="font-semibold"
              >{{ item.name }} {{ item.lastName }}</span
            >
            <small>{{ item.advisorDetail.category }}</small>
          </div>
          <span>
            <app-icon icon="star-filled" theme="warning" />
            <small> {{ item.averageRating }} </small>
          </span>
        </div>
      </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #section5>
  <div class="xl:flex xl:gap-x-4 gap-x-2 grid grid-cols-1 gap-y-2">
    <div class="card xl:w-full border bordered">
      <div class="card-body">
        <h6 class="title">Tiempo acumulado {{ currentYear }}</h6>
        <app-column-chart [series]="accumulatedTime" title="segundos" />
      </div>
    </div>
  </div>
</ng-template>

<ng-template #nominated>
  <div class="h-96 overflow-auto">
    <div class="card grow border bordered">
      <div class="card-body">
        <h6 class="title">Asesores postulados</h6>
        <ul
          class="divide-base-content/25 divide-y *:py-3 mt-2 divide-secondary"
        >
          @for (user of nominatedAdvisors; track $index) {
          <li>
            <a
              class="flex items-start sm:items-center"
              [routerLink]="['users/user', user._id]"
            >
              <app-avatar [src]="user.avatar" class="me-3" />
              <div
                class="flex grow flex-col items-start justify-between sm:flex-row"
              >
                <div class="user-info flex flex-col w-full">
                  <span class="text-sm text-base-content font-medium">
                    {{ user.name }} {{ user.lastName }}
                  </span>
                  <small class="text-base-content/50">
                    {{ user.phone }}
                  </small>
                  <small class="text-base-content/50 self-end">
                    {{ user.status }}
                  </small>
                </div>
              </div>
            </a>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #topAsesors>
  <div class="card grow border bordered">
    <div class="card-body">
      <h6 class="title">Top asesores</h6>
      <ul class="divide-base-content/25 divide-y *:py-3 mt-2 divide-secondary">
        @for (user of topRatedAdvisors; track $index) {
        <li>
          <a
            class="flex items-start sm:items-center"
            [routerLink]="['users/user', user._id]"
          >
            <app-avatar [src]="user.avatar" class="me-3" />
            <div
              class="flex grow flex-col items-start justify-between sm:flex-row"
            >
              <div class="user-info flex flex-col">
                <span class="text-sm text-base-content font-medium">
                  {{ user.name }} {{ user.lastName }}
                </span>
                <small class="text-base-content/50">
                  {{ user.advisorDetail.category }}
                </small>
              </div>
              <div class="action max-sm:mt-1 flex flex-col items-center gap-1">
                <span class="flex gap-1">
                  <app-icon icon="star-filled" theme="warning" size="3" />
                  <small>{{ user.averageRating }}</small>
                </span>
              </div>
            </div>
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</ng-template>

<ng-template #newRegistrations>
  <div class="h-96 overflow-auto">
    <div class="card grow border bordered">
      <div class="card-body">
        <h6 class="title">Nuevos registros</h6>
        <ul class="divide-base-content/25 divide-y *:py-3 mt-2">
          @for (user of newUsers; track $index) {
          <li>
            <a
              class="flex items-start sm:items-center"
              [routerLink]="['users/user', user._id]"
            >
              <app-avatar [src]="user.avatar" class="me-3" />
              <div
                class="flex grow flex-col items-start justify-between sm:flex-row"
              >
                <div class="user-info flex flex-col">
                  <span class="text-sm text-base-content font-medium">
                    {{ user.name }} {{ user.lastName }}
                  </span>
                  <small class="text-base-content/50">
                    {{ user.createdAt | date }}
                  </small>
                </div>
                <div
                  class="action max-sm:mt-1 flex flex-col items-center gap-1"
                >
                  <app-badge
                    [text]="user.role"
                    [theme]="user.role === 'Advisor' ? 'success' : 'primary'"
                    [outline]="true"
                    size="sm"
                  />
                </div>
              </div>
            </a>
          </li>
          }
        </ul>
      </div>
    </div>
  </div>
</ng-template>

<!-- <span class="icon-[tabler--logs] size-10"></span> -->

<!-- <span class="icon-[tabler--users-plus]"></span><span class="icon-[tabler--users-group]"></span> -->
